{% extends "base.html.twig" %}


{% block body %}
<main class="login">
    {% block flash%}
        
    {% endblock %}
        <div class="bgcode">
            <div class="filter">
                    {{ form_start(ResetForm, {'attr' : {'class':'form '}})}}
                            <div class="avatar">
                                <img src="{{asset('/img/simploncharleville.png')}}" style="width: 90%" alt="logo du site simplon">
                            </div>
        
                            <h2 style="text-align: center; margin-top:20px; ">
                                Changement de mot de passe
                            </h2>
        
                            <div class="input">
                                {{ form_widget(ResetForm.password, {'attr' : {'class':'inputtxt', 'placeholder':'Nouveau mot de passe'}})}}
                                <span class="focus"></span>
                                <span class="logoinput">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
        
                            <div class="input">
                                {{ form_widget(ResetForm.confirmPassword, {'attr' : {'class':'inputtxt', 'placeholder':'Nouveau mot de passe'}})}}
                                <span class="focus"></span>
                                <span class="logoinput">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
        
                            <div class="input">
                                <button type="submit" class="inputsubmit">
                                    Connexion
                                </button>
                            </div>
                            {{ form_end(ResetForm)}}
                    </div>
                </div>
            </div>
        </div>
        </main>


{% endblock %}