{% extends "base.html.twig" %}
{% block title %}Gestion Secretaire - Simplon Charleville {% endblock %}
{% block body %}
<main class="gestion">
<div class="filterbis">
 <h3 style="text-align:center; margin-top: 30px;">Liste Secretaire</h3>
 <div style="overflow-x:auto;">
<table>
   
        <thead>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Mail</th>
            <th>Modification</th>
        </thead>
        <tbody>
            {% for secretary in pagination.data %}
            <tr>
            <td>{{secretary.name}}</td>
            <td>{{secretary.fName}}</td>
            <td>{{secretary.mail}}</td>
            <td class="modify">
                <a href="{{ path('editSecretary', {'id': secretary.id})}}" class="far fa-edit tablebutton" title="modifier "></a>
                <a href="{{ path('deleteSecretary', {'id': secretary.id})}}" class="fas fa-trash tablebutton" title="supprimer"></a>
            </td>
            </tr>
            {% endfor %}
    
        </tbody>
</table>

</div>
{{ pagination.display}}
    <section>
        {{ form_start(form, {'attr' : {'class':'form col'}})}}
            <h3> Ajouter une Secrétaire</h3>
            <div class="row">
                    {{ form_widget(form.name, {'attr' : {'class':'lineInput', 'placeholder': 'Nom'}})}}
                    {{ form_widget(form.fName, {'attr' : {'class':'lineInput', 'placeholder': 'Prenom'}})}}
            </div>
            <div class="row">
                    {{ form_widget(form.mail, {'attr' : {'class':'lineInput', 'placeholder': 'Mail'}})}}
            </div>
            <div class="rowsubmit" style="margin: 30px 0 30px 0  ">
            <button type="submit" class="inputsubmit">Ajouter</button>
            </div>
        {{ form_end(form)}}
    </section>
</div>
</main>

{% endblock %}