{% extends 'base.html.twig' %}

{% block title %}Mofication Utilisateur - Simplon Charleville{% endblock %}


{% block body %}


     <main class="secretary">
            <div class="filter col">
            <h3>Modification de {{user.name}} {{user.fName}} </h3>
            {{ form_start(addUserForm,{'attr':{'class': 'form col'}})}}
            {{ form_start(addFolderForm)}}
            <div class="row">
              {{form_widget(addUserForm.name, {'attr' : {'class':'lineInput', 'placeholder': 'Nom'}})}}
              {{form_widget(addUserForm.fName, {'attr' : {'class':'lineInput', 'placeholder': 'Prenom'}})}}
            </div>
            <div class="row">
              {{form_widget(addUserForm.birthDate, {'attr' : {'class':'lineInput', 'placeholder': 'Date de naissance (jj/MM/yyyy)', 'type':'date'}})}}
              {{form_widget(addUserForm.age, {'attr' : {'class':'lineInput', 'placeholder': 'Age'}})}}
            </div>
            <div class="row">
                {{form_widget(addUserForm.adress,{'attr' : {'class':'lineInput', 'placeholder': 'Adresse'}})}}
                {{form_widget(addUserForm.town, {'attr' : {'class':'lineInput', 'placeholder': 'Ville'}})}}
            </div>
            <div class="row">
                {{form_widget(addUserForm.nationality,{'attr' : {'class':'lineInput', 'placeholder': 'La nationalité'}})}}
                {{form_widget(addUserForm.mail, {'attr' : {'class':'lineInput', 'placeholder': 'Adresse Mail'}})}}
            </div>
            <div class="row">
                {{form_widget(addUserForm.number,{'attr' : {'class':'lineInput', 'placeholder': 'Numero de Télephone'}})}} 
                {{form_widget(addFolderForm.english, {'attr' : {'class':'lineInput', 'placeholder': 'Niveau Anglais'}})}}
            </div>
            <div class="row">
                {{form_widget(addFolderForm.hero,{'attr' : {'class':'linetxt', 'placeholder': 'Quel Hero?'}})}} 
                {{form_widget(addFolderForm.hacks, {'attr' : {'class':'linetxt', 'placeholder': 'Votre Hack ?'}})}}
            </div>
            <div class="row">
                {{form_widget(addFolderForm.why,{'attr' : {'class':'linetxt', 'placeholder': 'Pourquoi le code ?'}})}} 
                {{form_widget(addFolderForm.nextYear, {'attr' : {'class':'linetxt', 'placeholder': 'Dans un an ?'}})}}
            </div>
            <div class="row">
                {{form_widget(addFolderForm.soloLink,{'attr' : {'class':'lineInput', 'placeholder': 'Lien Sololearn'}})}} 
                {{form_widget(addFolderForm.soloBadge, {'attr' : {'class':'lineInput', 'placeholder': 'Nombre de badge SoloLearn'}})}}
            </div>
            <div class="row">
                {{form_widget(addFolderForm.codeLink,{'attr' : {'class':'lineInput', 'placeholder': 'Lien CodeAcademy'}})}} 
                {{form_widget(addFolderForm.codeBadge, {'attr' : {'class':'lineInput', 'placeholder': 'Nombre de badge CodeAcademy'}})}}
            </div>
            <div class="row">
                {{form_widget(addFolderForm.lastDiplome,{'attr' : {'class':'lineInput', 'placeholder': 'Dernier diplome obtenue'}})}} 
            </div>
            <button type="submit" class="inputsubmit">Modifier  l'utilisateur</button>
         
        
            {{ form_end(addUserForm)}}
            {{ form_end(addFolderForm)}}
           </div>
         </main>
{% endblock %}