{% extends 'base.html.twig' %}

{% block title %}Ajout Utilisateur - Simplon Charleville{% endblock %}

{% block body %}
  <main class="secretary">
    <div class="filter col">
    <h3>Ajout de dossier</h3>
    {% form_theme addUserForm 'elements/form.html.twig' %}
    {% form_theme addFolderForm 'elements/form.html.twig' %}
    {{ form_start(addUserForm,{'attr':{'class': 'form col'}})}}
    {{ form_start(addFolderForm)}}
    
    <div class="row">
    
      {{form_row(addUserForm.name, {'attr' : {'class':'lineInput', 'placeholder': 'Nom'}})}}
      {{form_row(addUserForm.fName, {'attr' : {'class':'lineInput', 'placeholder': 'Prenom'}})}}
    </div>
    <div class="row">
      {{form_row(addUserForm.birthDate, {'attr' : {'class':'lineInput', 'placeholder': 'Date de naissance (jj/MM/yyyy)', 'type':'date'}})}}
      {{form_row(addUserForm.age, {'attr' : {'class':'lineInput', 'placeholder': 'Age'}})}}
    </div>
    <div class="row">
        {{form_row(addUserForm.adress,{'attr' : {'class':'lineInput', 'placeholder': 'Adresse'}})}}
        {{form_row(addUserForm.town, {'attr' : {'class':'lineInput', 'placeholder': 'Ville'}})}}
    </div>
    <div class="row">
        {{form_row(addUserForm.nationality,{'attr' : {'class':'lineInput', 'placeholder': 'La nationalité'}})}}
        {{form_row(addUserForm.mail, {'attr' : {'class':'lineInput', 'placeholder': 'Adresse Mail'}})}}
    </div>
    <div class="row">
        {{form_row(addUserForm.number,{'attr' : {'class':'lineInput', 'placeholder': 'Numero de Télephone'}})}}
        {{form_row(addUserForm.picture,{'attr' : {'class':'lineInput', 'placeholder': 'photo du candidat'}})}}

    </div>
    <div class="row">
        {{form_row(addFolderForm.hero,{'attr' : {'class':'linetxt', 'placeholder': 'Quel Hero?'}})}} 
        {{form_row(addFolderForm.hacks, {'attr' : {'class':'linetxt', 'placeholder': 'Votre Hack ?'}})}}
    </div>
    <div class="row">
        {{form_row(addFolderForm.why,{'attr' : {'class':'linetxt', 'placeholder': 'Pourquoi le code ?'}})}} 
        {{form_row(addFolderForm.nextYear, {'attr' : {'class':'linetxt', 'placeholder': 'Dans un an ?'}})}}
    </div>
    <div class="row">
        {{form_row(addFolderForm.soloLink,{'attr' : {'class':'lineInput', 'placeholder': 'Lien Sololearn'}})}} 
        {{form_row(addFolderForm.soloBadge, {'attr' : {'class':'lineInput', 'placeholder': 'Nombre de badge SoloLearn'}})}}
    </div>
    <div class="row">
        {{form_row(addFolderForm.codeLink,{'attr' : {'class':'lineInput', 'placeholder': 'Lien CodeAcademy'}})}} 
        {{form_row(addFolderForm.codeBadge, {'attr' : {'class':'lineInput', 'placeholder': 'Nombre de badge CodeAcademy'}})}}
    </div>
    <div class="row">
        {{form_row(addFolderForm.lastDiplome,{'attr' : {'class':'lineInput', 'placeholder': 'Dernier diplome obtenue'}})}}
        {{form_row(addFolderForm.english, {'attr' : {'class':'lineInput', 'placeholder': 'Niveau Anglais'}})}}
    </div>
    <input type="submit" class="inputsubmit" value="Ajouter">
    
    {{ form_end(addUserForm)}}
    {{ form_end(addFolderForm)}}
    
    
   </div>
 </main>
{% endblock %}
